@import 'settings.fonts';
@import 'settings.colors';

.main-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    background: $backgroundColor;
    box-shadow:  0 1px 5px $lightDarkBoxShadow;
}